<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a><br/>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}      
      <div id="search" class="social-icons-center">
        <form method="get" action="https://www.google.com/search" style="position:relative">
          <input name="sitesearch" value="objectpascalprogramming.com" type="hidden"/>
          <input id="search-query" class="field field-text"
            onfocus="$('#google').css('display', 'inline-block');"
            name="q" placeholder="Pesquisar" autocomplete="off"/>
          <span class="desktop-only">
            <input type="image" src="/images/google-search-icon.svg" id="google" title="search via Google"
              style="height:2.4em;display:none;position:absolute;top:.3em;margin-left:1em;" alt="search via Google"/>
          </span>
        </form>
        <div id="search-results" style="display: none;">
          <div class="entries"></div>
        </div>
      </div>
    </div>
  </div>
</header>
