<div class="py2 post-footer">
  <!--<img src="{{ site.baseurl }}/images/me.jpeg" alt="John Otander" class="avatar" /> -->
  <hr />
  <p>
   Inscreva-se na minha Lista VIP para se manter atualizado de todas as minhas publicações.<br>
   Você receberá dicas valiosas que vão te fazer pensar diferente<br> 
   sobre Object Pascal e Orientação a Objetos! 
  </p>
  <div class="py2">
    <form id="form" class="form-stacked" method="post" action="http://delfire.activehosted.com/proc.php">
      <input type="email" name="email" class="field-light" placeholder="Seu e-mail">
      <input type="hidden" name="f" value="14">
      <input type="hidden" name="s" value="">
      <input type="hidden" name="c" value="0">
      <input type="hidden" name="m" value="0">
      <input type="hidden" name="act" value="sub">
      <input type="hidden" name="nlbox[]" value="1">
      <button type="submit" class="button button-blue button-big mobile-block">Cadastrar</button>
    </form>
  </div>
  </p>
</div>
