<div class="py2 post-footer">
  <hr />
  <a href="{{ site.baseurl}}/lista-vip/"> <img src="{{ site.baseurl }}/images/ebook-p.jpg" alt="10 Regras da Orientação a Objetos" /> </a>
  <p>
   Inscreva-se na minha <strong>Lista VIP</strong> e receba um link para o meu <strong>e-Book Gratuito</strong> com as <strong>10 Regras da Programação Orientada a Objetos</strong>,
   após você confirmar seu cadastro. 
   <br/>
  </p>
  <div class="py2">
    <form id="form" class="form-stacked" method="post" action="http://delfire.activehosted.com/proc.php">
      <input type="email" name="email" class="field-light" placeholder="Seu e-mail">
      <input type="hidden" name="f" value="14">
      <input type="hidden" name="s" value="">
      <input type="hidden" name="c" value="0">
      <input type="hidden" name="m" value="0">
      <input type="hidden" name="act" value="sub">
      <input type="hidden" name="nlbox[]" value="1">
      <button type="submit" class="button button-blue button-big mobile-block">Cadastrar</button>
    </form>
  </div>
  </p>
</div>
